{% extends '::base.html.twig' %}

 {% block main_content %}
     <form action="{{ url('issue_create',{ 'page': 'create' }) }}" method="post" {{ form_enctype(form) }}>
         {{ form_widget(form) }}
     </form>
 {% endblock %}