{% extends '::base.html.twig' %}

{% block main_content %}
    <form>
        <button id="create-issue" formaction="{{ url('issue_create',{ 'page': 'create' }) }}">Create Issue</button>
    </form>

{% endblock %}