{% extends '::base.html.twig' %}

    {% block title %}Registration{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
    {% block main_content %}
            <form action="{{ path('form_user') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
            </form>
    {% endblock %}
