{% extends '::base.html.twig' %}

 {% block main_content %}
     <form action="{{ path('project_create') }}" method="post" {{ form_enctype(form) }}>
         {{ form_widget(form) }}
     </form>
 {% endblock %}