{% extends '::base.html.twig' %}

{% block main_content %}
    <form>
        <button id="create-project" formaction="{{ url('project_create') }}">Create project</button>
    </form>
        <p>Projects:</p>
    <ul>
    {% for key, title in titles %}
        <li><a href="{{ url('project_code',{'code':key})}}">{{title}}</a></li>
    {% endfor %}
    </ul>
    <div class="summary-project">

    </div>
    <div class="project-activities>">

    </div>
{% endblock %}