{% extends '::base.html.twig' %}

 {% block main_content %}
     <form action="{{ path('profile_edit') }}" method="post" {{ form_enctype(form) }}>
         {{ form_widget(form) }}
     </form>

 {% endblock %}